
body { background-color:#30beba; font-family: BMDOHYEON;}
body{line-height: 160%; font-size: 16px; }
textarea{width: 550px; height: 300px;}
fieldset{background-color:white;}
#name{ font-size: 13px;  font-family: BMDOHYEON; font-weight: bold; width: 220px; height: 20px;}
#area{font-family: BMDOHYEON; font-size: 15px;}
#logo{width:300px; display: block; margin: 0 auto; }
#suggest{font-family: BMDOHYEON; font-weight: bold; font-size: 16px;}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}