/*
    flex 2단계
    1. 가로로 늘어놓고 싶은 요소들의 !!부모!!요소 확인
    2. 부모요소에 display:flex 지정한다.


*/

*{ box-sizing: border-box;}

.box{
    border: 2px solid blue;
    /* 하위 요소는 사이즈 기본 값 : 상위 요소 100% - 테두리 */
    width: 100px;
}

.flexBox1{
 
    border: 2px solid red;
    width: 250px;
    display: flex; /* 하위 요소를 가로 배치 >> 안에 박스 width는 자동 변경*/ 
    flex-wrap: nowrap; /*[기본값] flex 속성 
    : 줄바꿈x, 자식요소들을 한 줄 표시 하되 사이즈가 자동 변경 */

}


.flexBox2{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-wrap: wrap; /* flex 속성 
    : 줄바꿈o, 자식요소들의 사이즈를 유지 */
}

.flexBox3{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-wrap: wrap-reverse
    
}

.flexBox4{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-direction: row;
}

.flexBox5{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.flexBox6{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
}

.flexBox7{
 
    border: 2px solid red;
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
}